#reviews-container {
  padding: 40px;
}
#reviews-container h3 {
  color: #d67200;
  font-size: 1.9em;
  font-weight: 300;
}
select#rating {
  background: white;
  width: 50px;
}
textarea#comment {
  height: 70px;
}
#add-review {
  margin: 16px 0;
}
#add-review-button {
  margin-bottom: 16px;
  background: #d67200;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
}
#add-review .row label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 8px 0;
}
.row {
  display: flex;
}
#add-review input#name {
  margin-right: 16px;
}
#reviews-list {
  padding: 0;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: #444;
}
.top p {
  color: white;
  font-size: 1.2em;
  margin: 0;
}
.top .date {
  color: #ccc;
  font-size: 0.9em;
}
#reviews-list li {
  background-color: #fff;
  border-radius: 20px 0 20px 0;
  margin-bottom: 16px;
  overflow: hidden;
}

.rating {
  display: inline-block;
  background: #d67200;
  padding: 4px;
  margin-left: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
}

.comments {
  margin: 0 16px 16px;
}
#restaurant-hours {
  width: 100%;
  color: #666;
}